.cocktail-card {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.cocktail-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.alcoholic-status {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.ingredients {
  display: block;
  margin-top: 10px;
  font-size: 1.1em;
}

a {
  color: black;
}
